test_dilithium2
test_dilithium2aes
test_dilithium3
test_dilithium3aes
test_dilithium4
test_dilithium4aes
test_vectors2
test_vectors2aes
test_vectors3
test_vectors3aes
test_vectors4
test_vectors4aes
test_speed2
test_speed2aes
test_speed3
test_speed3aes
test_speed4
test_speed4aes
test_mul
