*.so
*.o
test/test_dilithium2
test/test_dilithium3
test/test_dilithium5
test/test_vectors2
test/test_vectors3
test/test_vectors5
test/test_speed2
test/test_speed3
test/test_speed5
test/test_mul
test/output.txt
test/test_vectors2.exe
test/test_vectors3.exe
test/test_vectors5.exe
test/test_dilithium2.exe
test/test_dilithium3.exe
test/test_dilithium5.exe
nistkat/*.req
nistkat/*.rsp